<html>
<head>
    <title>Blame for file</title>
    <link rel="stylesheet" href="../../css/GitX.css" type="text/css" media="screen,print" title="no title" charset="utf-8">
    <script src="../../lib/GitX.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../lib/md5.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../lib/blameHighlighter.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../lib/keyboardNavigation.js" type="text/javascript" charset="utf-8"></script>

    <link rel="stylesheet" href="blame.css" type="text/css" media="screen, print" title="no title" charset="utf-8">
    <script src="blame.js" type="text/javascript" charset="utf-8"></script>
</head>

<body style="padding: 0px; border: 0px">
    <div id="notification" style="display:none;">
        <img src="../../images/spinner.gif" alt="Spinner" id="spinner"></img>
        <div id="notification_message"></div>
    </div>
    <div id="blame"></div>
</body>
